#root {
  margin: 0 auto;
  width: 100vw;
  height: 100dvh;
}
.node {
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

.handle {
  position: relative;
  top: 15px;
}
